*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image:url("img/white_carbon.png");
}

div.main_centerize{
    width: 80%;
    margin: 0% 13%;
}

div.positioner{
    position: absolute;
}

h1.logo{
    font-family: "Droid Serif", serif;
    color: #fff;
}

div.side_square{
    width: 80px;
    height: 80px;
    margin-bottom: 3px;
}

div.side_yellow{
    background-color: #dbe870;
}

div.python_blue{
    background-color: #1c4e63;
}

div.banner{
    background-color: #2f36aa;
}

div.header{
    width: 100%;
    position: absolute;
}

div.side_banner_component{
    float: left;
}

div.center_banner_component{
    float:left;
    width: 800px;
    height: 153px;
    margin: auto 3px;
    padding: 5px;
}

div.page_body{
    background-color: #fff;
    border-width: 0px 10px 10px;
    border-color: #000;
    min-height: 600px;
    width: 976px;
    /*position: absolute;*/
    margin-top: 175px;
}

div.boilerplate{
    background-color: #dadada;
    width: 976px;
    height: 200px;
}
