<!DOCTYPE html>
<html>
    <head>
        {% block head %}

        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed">
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed">
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed">
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed">
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed">
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed">
        {% endif %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/snake-squares.css">

        {% endblock head %}
    </head>
    <body>
        <div class="main_centerize">
            <div class="positioner">
            <div class="header">
                <div class="side_banner_component">
                    <div class="side_square side_yellow">
                    </div>
                    <div class="side_square python_blue">
                    </div>
                </div>
                <div class="center_banner_component banner">
                    <a href="{{ SITEURL }}" class="logo"><h1 class="logo">Python Philippines</h1></a>
                </div>
                <div class="side_banner_component">
                    <div class="side_square python_blue">
                    </div>
                    <div class="side_square side_yellow">
                    </div>
                </div>
            </div>
            <div class="page_body">
                {% block content %}{% endblock content %}
            </div>
            <div class="boilerplate">
                Boring copyright/legal stuff here.
            </div>
            </div>
        </div>
    </body>
</html>
