{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{{ block.super }} | {% trans "Password Reset" %}{% endblock %}

{% block content %}
<div id="password-reset">
  <form class="form-horizontal" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>{% trans "Password Reset" %}</legend>

        {% for field in form %}
          {% include "includes/_form_field.html" %}
        {% endfor %}

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
    </fieldset>
  </form>
</div>
{% endblock content %}
