{% extends "base.html" %}

{% load i18n %}
{% load urlify from utils %}

{% block head_title %}{{ block.super }} | {% trans "Password Reset Confirm" %}{% endblock %}

{% block content %}
<div id="password-reset">
  {% if validlink %}
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      <fieldset>
        <legend>{% trans "Password Reset" %}</legend>

          {% for field in form %}
            {% include "includes/_form_field.html" %}
          {% endfor %}

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Update password" %}</button>
          </div>
      </fieldset>
    </form>
  {% else %}
    <h2>{% trans 'Password reset failed' %}</h2>
    <p>{% blocktrans with reset_url='password_reset'|urlify %}The password reset link was invalid, possibly because it has already been used. Please <a href="{{ reset_url }}">request</a> a new password reset.{% endblocktrans %}</p>
  {% endif %}
</div>
{% endblock content %}
