{% extends "base.html" %}

{% load i18n endless %}

{% block head_title %}{{ block.super }} | {% trans "Home" %}{% endblock %}

{% block content %}
<div id="home">
  <h2>{% trans "Approved Proposals" %}</h2>
  <ul>
    {% paginate proposal_list %}
    {% for proposal in proposal_list %}
    <li>
      <h3><a href="#">{{ proposal.title }}</a></h3>
      <div class="speaker">{{ proposal.speaker.get_full_name }} / {{ proposal.audience.name }}</div>
      <p>{{ proposal.description }}</p>
    </li>
    {% endfor %}
  </ul>
  {% show_pages %}
</div>
{% endblock content %}
