@media -sass-debug-info{filename{font-family:file\:\/\/\<string\ \'\@import\ \"bootstrap\/variables\"\;\\n\\n\.page-header\ \{\\n\ \ s\.\.\.\'\>}line{font-family:\000034}}
.page-header span .btn {
  float: right;
  margin: 5px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\<string\ \'\@import\ \"bootstrap\/variables\"\;\\n\\n\.page-header\ \{\\n\ \ s\.\.\.\'\>}line{font-family:\000038}}
.page-header span .btn:first-child {
  margin-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\<string\ \'\@import\ \"bootstrap\/variables\"\;\\n\\n\.page-header\ \{\\n\ \ s\.\.\.\'\>}line{font-family:\0000314}}
#home ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\<string\ \'\@import\ \"bootstrap\/variables\"\;\\n\\n\.page-header\ \{\\n\ \ s\.\.\.\'\>}line{font-family:\0000319}}
#home ul li h3 {
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\<string\ \'\@import\ \"bootstrap\/variables\"\;\\n\\n\.page-header\ \{\\n\ \ s\.\.\.\'\>}line{font-family:\0000323}}
#home ul li .speaker .novice {
  background-color: #f89406;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\<string\ \'\@import\ \"bootstrap\/variables\"\;\\n\\n\.page-header\ \{\\n\ \ s\.\.\.\'\>}line{font-family:\0000326}}
#home ul li .speaker .intermediate {
  background-color: #46a546;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\<string\ \'\@import\ \"bootstrap\/variables\"\;\\n\\n\.page-header\ \{\\n\ \ s\.\.\.\'\>}line{font-family:\0000329}}
#home ul li .speaker .experienced {
  background-color: #333333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\<string\ \'\@import\ \"bootstrap\/variables\"\;\\n\\n\.page-header\ \{\\n\ \ s\.\.\.\'\>}line{font-family:\0000335}}
#home .speaker {
  color: #999999;
  margin-bottom: 5px;
}

