@import "bootstrap/variables";

.page-header {
  .btn {
    float: right;
    margin: 5px 0;
  }
  .btn:first-child {
    margin-left: 5px;
  }
}

#home {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      h3 {
        margin-bottom: 5px;
      }

      .speaker {
        .novice {
          background-color: $orange;
        }
        .intermediate {
          background-color: $green;
        }
        .experienced {
          background-color: $grayDark;
        }
      }
    }
  }

  .speaker {
    color: $grayLight;
    margin-bottom: 5px;
  }
}