@import "bootstrap/variables";
@import "bootstrap/mixins";

.page-header {
  h1 a:hover {
    text-decoration: none;
    color: $orange;
  }
  #primary-nav {
    > .nav,
    > span {
      margin: 15px 0 0 0;
      float: right;
    }
  }
}

#home {
  .nav-tabs {
    padding-left: 20px;
  }

  #approved-proposals {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $grayLighter;

        h3 {
          margin-bottom: 5px;
        }

        .speaker {
          color: $grayLight;
          margin-bottom: 5px;

          .novice {
            background-color: $orange;
          }

          .intermediate {
            background-color: $green;
          }

          .experienced {
            background-color: $grayDark;
          }
        }
      }
    }
  }

  #speakers {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        float: left;
        margin: 0 20px 20px 0;

        .thumbnail {
          width: 200px;
        }

        a {
          font-size: 18px;
          display: block;
          text-align: center;
          margin: 10px 0 0 0;
        }

      }
    }
  }
}

#submit-proposal {
  .control-group textarea {
    width: 600px;
  }
}

#schedule-proposals {
  table {
    thead {
      th {
        text-align: center;
      }
    }
    tr {
      td {
        height: 70px;
        vertical-align: middle;
      }
      td:first-child {
        text-align: right;
        padding-right: 20px;
        width: 80px;
      }
    }
  } 
}

#profile {
  h2 a {
    font-size: 16px;
    font-weight: normal;
  }
  .actions {
    margin: 10px 0;
  }
  .thumbnail {
    width: 200px;
    float: right;
    margin-left: 20px;
  }
}

#edit-profile {
  .control-group textarea {
    width: 600px;
  }
  .thumbnail {
    width: 200px;
  }
}
